@import '../config';

.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: $gray-background;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0; 
  padding: 0.5rem;
  border-top: 1px solid $primary;
  
  // fortawesome/fontawesome icons are sized based on the enclosing font-size
  font-size: 1.8rem;

  a {
    color: $primary;
    padding: 0 1rem;

    &:hover {
      color: $hover-color
    }
  }
}

// // hacky solution to show the footer on mobile browsers that hide stuff under the menu bar
// .container.mobile {
//   height: 50px;
  
//   margin-top: 0;

//   a {
//     font-size: 1.5rem;
//   }
// }

// // .desktop {

// // }