@import '../config';

.container {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0; 
  
  // fortawesome/fontawesome icons are sized based on the enclosing font-size
  font-size: 1.8rem;

  a, svg {
    color: $primary;
    padding: 0 1rem;

    &:hover {
      color: $hover-color
    }
  }
}