@import '../config';

.page {
  position: relative;
  min-height: 100vh;
  height: 100%;
}

.mainContent {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;

  *:first-of-type::before {
    height: 3rem;
    width: 100%;
    content: "";
  }
  // apply an after pseudo-element to the last element in the main container
  *:last-of-type::after {
    height: 50px;
    width: 100%;
    content: "";
  }
}
