@import '../config';
$menu-background-color: #2d2e2e;

.container {
  font-size: 1.5rem;

}

.hamburger {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 3rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $primary;
  background-color: $primary-background;
  z-index: 5;

  .logo {
    height: 2rem;
    width: 2rem;

    float: left;
    &:hover {
      filter: brightness(0) saturate(100%) invert(66%) sepia(25%) saturate(5440%) hue-rotate(3deg) brightness(108%) contrast(106%);
    }
  }

  svg {
    float: right;
  }
}

.menuOverlay {
  position: fixed;
  height: 100vh;
  // start width as zero, transition it to larger size on CSS style addition
  width: 0;
  z-index: 10;
  right: 0;
  top: 0;
  background-color: $menu-background-color;
  overflow-x: hidden;
  transition: 0.1s width ease-in-out;
}

// new size to transition to
.openMenu {
  color: $primary;
  width: 45vw;
}

.menuContents {
  position: relative;
  text-align: left;
  padding: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;

  a, svg {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: $primary;
    display: block;
    &:hover {
      color: $hover-color;
    }
  }
  a.currentPage {
    color: $hover-color;
  }
}

// hide if on a large enough screen
@media (min-width: $small-width) {
  .container {
    display: none;
  }
}