@import '../config';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  box-sizing: border-box;
  height: 2.5rem;
  border-bottom: 1px solid $primary;

  display: flex;
  justify-content: center;

  background-color: $primary-background;
  z-index: 10;
  
  a {
    margin: 0.5rem;
    padding: 0 0.5rem;
    color: $primary;
    text-decoration: none;

    // must be above hover to control cascading of already visited sites
    &:visited {
      color: $primary
    }

    &:hover {
      color: $hover-color;
    }
  }

  // highlighting for the current page
  a.currentPage {
    color: $hover-color;
  }

  a.noMargin {
    margin: 0;
  }
}

.logo {
  float: left;
  height: 2rem;
  width: 2rem;
  padding-top: 0.2rem;
  &:hover {
    filter: brightness(0) saturate(100) invert(67%) sepia(22%) saturate(5131%) hue-rotate(1deg) brightness(104%) contrast(104%);
  }
}

@media (max-width: $small-width) {
  .container {
    display: none;
  }
}