// default font
$font-stack: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// list all colors
$primary: #d3d3d3;
$secondary: #7fbeeb; // AERO

$primary-background: #393d3f;
$secondary-background: #2d2e2e;

$hover-color: #f0803c;

// widths
$small-width: 550px;
