// default font
$font-stack: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// list all colors
$primary: #d3d3d3;
$primary-dark:#1B44A0;
$gray-background: #222525;

$hover-color: orange;
